version: '3.9'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: Igorpro2020#@#
      MYSQL_DATABASE: finance_ai
    ports:
      - "3306:3306"
    volumes:
      - ./database:/docker-entrypoint-initdb.d

  api:
    build: ./api
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  backend:
    build: ./backend
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
